 * {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 17, 17);
}

h1 {
    color: black;
    font-size: 80px;
    font-weight: 1000;
    text-align: center;
}

.card {
    background-color:grey;
    width: 346px;
    margin: 10px;
    border-radius: 5px;
}

.card img {
    width: 100%;
}

.card .infos {
    padding: 20px;
}

.character-list {
    display: flex;
    padding: 40px;
    border-radius: 5px;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
}